.yoga-container {
    background: linear-gradient(100deg, #16162B  , #576b77);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.drop-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.secondary-btn {
    margin: 0 10px; /* Add horizontal margin to create space between the buttons */
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid rgba(125, 125, 125, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px 0px;
    color: white;
}


.secondary-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.web-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;
}

#webcam, #my-canvas {
    width: 640px;
    height: 480px;
    position: relative;
}

.performance-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.pose-performance {
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pose-performance h4 {
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.pose-performance .label {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}


.starting-contdown {
    margin: auto;
    border: 10px solid rgba(125, 125, 125, 0.5);
    width: max-content;
    padding: 10px 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: 45%;
}

.starting-contdown h1 {
    color: white;
}

.pose-img {
    position: absolute;
    right: 120px;
    top: 80px;
    width: 500px;
    aspect-ratio: 1;
}

#webcam {
    transform: rotateY(180deg);
}

#my-canvas {
    transform: rotateY(180deg);
}
